snippet [[ "[[link]]"
[[$0]]
endsnippet

snippet newproject "New Project index page"
# ${1:PROJECT NAME}

* [[tasks]]
endsnippet

snippet quicknote "A new quicknote with header and tags"
# ${1:Title}

$0

Tags: ${2:some tags}
endsnippet

snippet newtech "New technical fix note"
# ${1:Title}
${2: Description }

## ${3:Issue}
${4:Details}

## ${5:Fix}
${6:Details}

Tags: ${7:TAG1 TAG2}
endsnippet
