[submodule "nvim/plugins/start/sneak"]
	path = nvim/plugins/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "nvim/plugins/start/ctrlp"]
	path = nvim/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/plugins/start/nerdtree"]
	path = nvim/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nvim/plugins/start/vim-commentary"]
	path = nvim/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/plugins/start/tender"]
	path = nvim/plugins/start/tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "nvim/plugins/start/lightline"]
	path = nvim/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "nvim/plugins/start/ultisnips"]
	path = nvim/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
