[submodule "nvim/plugins/start/sneak"]
	path = nvim/plugins/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "nvim/plugins/start/ctrlp"]
	path = nvim/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nvim/plugins/start/nerdtree"]
	path = nvim/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nvim/plugins/start/vim-commentary"]
	path = nvim/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/plugins/start/tender"]
	path = nvim/plugins/start/tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "nvim/plugins/start/lightline"]
	path = nvim/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "nvim/plugins/start/vim-togglesmartsearch"]
	path = nvim/plugins/start/vim-togglesmartsearch
	url = https://github.com/terrortylor/vim-togglesmartsearch.git
[submodule "nvim/plugins/start/vim-tmux-navigator"]
	path = nvim/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "nvim/plugins/opt/coc"]
	path = nvim/plugins/opt/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "nvim/plugins/opt/ultisnips"]
	path = nvim/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "nvim/plugins/start/kotlin-vim"]
	path = nvim/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "nvim/plugins/start/vim-sandwich"]
	path = nvim/plugins/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
