snippet commandnote "Add simple command block with title" b
${1:###} ${2:Command description}

\`\`\`bash
${3:command goes here}
\`\`\`
endsnippet

snippet chefchangelog "Used to create a change log entry" b
${1:1.0.0}
------
 - ${2:Alex Tylor} - ${3:CHANGE COMMENT}
endsnippet

snippet codeblock "Used to create a block of code"
\`\`\`${1:bash}
${2:command goes here}
\`\`\`
endsnippet
